<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Tags</label>
    <label lang="en">Tags</label>

    <version>1.1.0</version>
    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.2.6"/>

    <changelog version="1.1.0">
        <changes lang="de"><![CDATA[
[#28251] Tags zu Product und Customer Streams hinzugefügt
]]></changes>
        <changes lang="en"><![CDATA[
[#28251] Added tags to Product and Customer stream
]]></changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[
[#27953] setCreatedBy im AbstractModel überspringen, wenn man sich nicht im Backend befindet
]]></changes>
        <changes lang="en"><![CDATA[
[#27953] skip setCreatedBy if you are not in the backend
]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[
Lizenzprüfung entfernen - Part II
]]></changes>
        <changes lang="en"><![CDATA[
Remove license check - part II
]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[
[#27771] Lizenzprüfung entfernen
]]></changes>
        <changes lang="en"><![CDATA[
[#27771] Remove license check
]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[Erstes Release]]></changes>
        <changes lang="en"><![CDATA[First release]]></changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="NetiFoundation" minVersion="2.4.1"/>
    </requiredPlugins>
</plugin>
