<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Tags</label>
    <label lang="en">Tags</label>

    <version>3.0.0</version>
    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.6.0"/>

    <changelog version="3.0.0">
        <changes lang="de"><![CDATA[
[#32211] Shopware 5.6 Anpassungen
]]></changes>
        <changes lang="en"><![CDATA[
[#32211] Shopware 5.6 adjustments
]]></changes>
    </changelog>

    <changelog version="2.1.0">
        <changes lang="de"><![CDATA[
[#30284] Tags für Bestellungen
]]></changes>
        <changes lang="en"><![CDATA[
[#30284] Tags for orders
]]></changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="de"><![CDATA[
[#31432] Fehler im Caching-Mechanismus behoben
]]></changes>
        <changes lang="en"><![CDATA[
[#31432] Fix in the caching mechanism
]]></changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de"><![CDATA[
[#30881] Fehler im Installationsprozess behoben
]]></changes>
        <changes lang="en"><![CDATA[
[#30881] Fixed an error in the installation process
]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de"><![CDATA[
[#30183] Release für SW 5.5
]]></changes>
        <changes lang="en"><![CDATA[
[#30183] Release for SW 5.5
]]></changes>
    </changelog>

    <changelog version="1.3.3">
        <changes lang="de"><![CDATA[
[#29418] Die Performance beim Laden mehrerer Tags wurde verbessert
]]></changes>
        <changes lang="en"><![CDATA[
[#29418] Improved performance when loading multiple tags
]]></changes>
    </changelog>

    <changelog version="1.3.2">
        <changes lang="de"><![CDATA[
[#29235] Übergabe der Tags an Smarty umwandeln
[#29243] Im Backend-Detailview werden nun Name und ID des Tags im Titel angezeigt
[#29241] Löschschutz optimiert
]]></changes>
        <changes lang="en"><![CDATA[
[#29235] Convert handover of tags to smarty
[#29241] Optimized delete protection
[#29243] Will now display tag id and name in the backend detail view title
]]></changes>
    </changelog>

<changelog version="1.3.1">
        <changes lang="de"><![CDATA[
[#29012] widget.neti_tags_field um allowBlank erweitern
]]></changes>
        <changes lang="en"><![CDATA[
[#29012] extend widget.neti_tags_field with allowBlank
]]></changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de"><![CDATA[
[#28762] Löschschutz
]]></changes>
        <changes lang="en"><![CDATA[
[#28762] Deleteprotecting
]]></changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de"><![CDATA[
[#28761] Tags zum Kundenlistenfilter hinzugefügt
]]></changes>
        <changes lang="en"><![CDATA[
[#28761] Added tags to customer list filter
]]></changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de"><![CDATA[
[#28251] Tags zu Product und Customer Streams hinzugefügt
]]></changes>
        <changes lang="en"><![CDATA[
[#28251] Added tags to Product and Customer stream
]]></changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[
[#27953] setCreatedBy im AbstractModel überspringen, wenn man sich nicht im Backend befindet
]]></changes>
        <changes lang="en"><![CDATA[
[#27953] skip setCreatedBy if you are not in the backend
]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[
Lizenzprüfung entfernen - Part II
]]></changes>
        <changes lang="en"><![CDATA[
Remove license check - part II
]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[
[#27771] Lizenzprüfung entfernen
]]></changes>
        <changes lang="en"><![CDATA[
[#27771] Remove license check
]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[Erstes Release]]></changes>
        <changes lang="en"><![CDATA[First release]]></changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="NetiFoundation" minVersion="4.0.0"/>
    </requiredPlugins>
</plugin>
